@{
    ViewData["Title"] = "Home Page";
}
@model List<TicketsCinema.Models.Movie>

<body>
    <div class="container mt-4">
        <h1 class="text-center text-white">Ближайшие показы</h1>
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="movie">
                    <h2>@movie.Title</h2>
                    <p>@movie.ShortDesc</p>
                    <p>@movie.DateTime.Value.ToString("MMMM dd, yyyy HH:mm")</p>
                    <a href="#">Buy Ticket</a>
                </div>
            }

        </div>
        <div class="text-center">
            <a href="@Url.Action("Index", "Schedule")" class="btn btn-outline-light text-white">Смотреть больше</a>
        </div>
    </div>
</body>
