@{
    ViewData["Title"] = "Home Page";
}
@model List<TicketsCinema.Models.Movie>

<body>
    <div class="container mt-4">
        <h1 class="text-center text-white">Ближайшие показы</h1>
        <div class="row">
            @await Html.PartialAsync("_MoviesGrid")
        </div>
        <div class="text-center">
            <a href="@Url.Action("Index", "Movies")" class="btn btn-outline-secondary">Смотреть больше</a>
        </div>
    </div>
</body>
