@model IEnumerable<TicketsCinema.Models.Movie>

@{
    ViewData["Title"] = "Список фильмов";
}

<div class="container mt-5">
    <h2 class="text-white">Список фильмов</h2>
    @if (User.IsInRole("admin"))
    {
       <a href="@Url.Action("Create", "Movies")" class="btn btn-primary mb-2">Добавить новый фильм</a>
    }
    <div class="row">
        @await Html.PartialAsync("_MoviesGrid")
    </div>
</div>